@import "tailwindcss";
/* *{
padding: 0;
margin: 0;
box-sizing: border-box;
} */
body {
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;
}
.no-scroll::-webkit-scrollbar {
  display: none;

}

.bg-image{
  background: linear-gradient(180deg,black,rgba(20, 18, 18, 0.45));

}
.time{
  border-left: 4px solid green; 
}
.swiper-button-next,
.swiper-button-prev {
  transform: scale(0.6);
  /* background: gainsboro; */
  /* color: black; */
  /* padding: 5px 8px ; */
}
.bgimg{
  background-image: url("https://images.unsplash.com/photo-1478720568477-152d9b164e26?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Y2luZW1hfGVufDB8fDB8fHww");
  background-size: cover;
  /* opacity: 90; */
  background-position: center;
  background-repeat: no-repeat;

}